<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Code Quest Search Results</title>
    <style>
        
        .header {
            background-color: #007bff;
            color: white;
            padding: 10px;
            text-align: center;
        }

        .footer {
            margin-top: 20px;
            font-size: 0.8em;
            text-align: center;
            color: #777;
        }
    </style>
</head>

<body>
    <div class="header">
        <h1>Code Quest Search Results</h1>
    </div>
    <h1>Code Quest Search Results</h1>
    <p><strong>Query:</strong> {{ query }}</p>
    <p><strong>Sort By:</strong> {{ sort_option }}</p>

    {% if stackoverflow %}
    <div class="source-section">
        <h2>Stack Overflow</h2>
        {% for item in stackoverflow %}
        <div class="result-item">
            <p><strong>Title:</strong> <a href="{{ item.link }}" target="_blank">{{ item.title }}</a></p>
            <p><strong>Answered:</strong> {{ 'Yes' if item.is_answered else 'No' }}</p>
            <p><strong>Score:</strong> {{ item.score }}</p>
            <p><strong>Number of Answers:</strong> {{ item.num_answers }}</p>
            <p><strong>Date:</strong> {{ item.date | datetimeformat }}</p>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if reddit %}
    <div class="source-section">
        <h2>Reddit</h2>
        {% for item in reddit %}
        <div class="result-item">
            <p><strong>Title:</strong> <a href="{{ item.link }}" target="_blank">{{ item.title }}</a></p>
            <p><strong>Score:</strong> {{ item.score }}</p>
            <p><strong>Number of Comments:</strong> {{ item.num_comments }}</p>
            <p><strong>Date:</strong> {{ item.date | datetimeformat }}</p>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="footer">
        <p>&copy; 2024 Code Quest. All rights reserved.</p>
    </div>
    
</body>
</html>